body {  
    background: #14afec; 
}

.form {  
    width: 30%;  
    margin: 60px auto;  
    background: #efefef;  
    padding: 60px 120px 80px 120px;  
    text-align: center;  
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}
.wrap form:last-child {
   margin-left: auto;
 }
h1 {
 text-align: center;
}

